<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CreditOrgInfoSoap" maxReceivedMessageSize = "104857600"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx" binding="basicHttpBinding" bindingConfiguration="CreditOrgInfoSoap" contract="ServiceReference1.CreditOrgInfoSoap" name="CreditOrgInfoSoap" />
    </client>
  </system.serviceModel>
</configuration>